<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.contract.dao.ContractMapper" >
  <resultMap id="BaseResultMap" type="com.admin.contract.dto.Contract" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="wz_name" property="wzName" jdbcType="VARCHAR" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="measurement" property="measurement" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="over_namber" property="overNamber" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="price_type" property="priceType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
    <result column="reserve3" property="reserve3" jdbcType="VARCHAR" />
    <result column="reserve4" property="reserve4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, wz_name, sku_name, measurement, supplier, contract_code, number, over_namber, 
    price, amount, price_type, create_time, update_time, status, reserve1, reserve2, 
    reserve3, reserve4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from contract
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.admin.contract.dto.Contract" >
    insert into contract (id, wz_name, sku_name, 
      measurement, supplier, contract_code, 
      number, over_namber, price, 
      amount, price_type, create_time, 
      update_time, status, reserve1, 
      reserve2, reserve3, reserve4
      )
    values (#{id,jdbcType=INTEGER}, #{wzName,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, 
      #{measurement,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{overNamber,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR}, 
      #{amount,jdbcType=VARCHAR}, #{priceType,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{reserve1,jdbcType=VARCHAR}, 
      #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.admin.contract.dto.Contract" >
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wzName != null" >
        wz_name,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="measurement != null" >
        measurement,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="contractCode != null" >
        contract_code,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="overNamber != null" >
        over_namber,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="priceType != null" >
        price_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
      <if test="reserve3 != null" >
        reserve3,
      </if>
      <if test="reserve4 != null" >
        reserve4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wzName != null" >
        #{wzName,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="measurement != null" >
        #{measurement,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="overNamber != null" >
        #{overNamber,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="priceType != null" >
        #{priceType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null" >
        #{reserve4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.admin.contract.dto.Contract" >
    update contract
    <set >
      <if test="wzName != null" >
        wz_name = #{wzName,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="measurement != null" >
        measurement = #{measurement,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="overNamber != null" >
        over_namber = #{overNamber,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="priceType != null" >
        price_type = #{priceType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null" >
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        reserve3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null" >
        reserve4 = #{reserve4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.admin.contract.dto.Contract" >
    update contract
    set wz_name = #{wzName,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      measurement = #{measurement,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      contract_code = #{contractCode,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      over_namber = #{overNamber,jdbcType=INTEGER},
      price = #{price,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      price_type = #{priceType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      reserve1 = #{reserve1,jdbcType=VARCHAR},
      reserve2 = #{reserve2,jdbcType=VARCHAR},
      reserve3 = #{reserve3,jdbcType=VARCHAR},
      reserve4 = #{reserve4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectList" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from contract
      where 1=1
      <if test="supplier!=null and supplier!=''">
        and supplier = #{supplier}
      </if>
      <if test="wzName!=null and wzName!=''">
        and wz_name = #{wzName}
      </if>
      order by create_time desc
      <if test="start!=null and limit!=null">
        limit #{start},#{limit}
      </if>
  </select>

</mapper>